/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/view-style/table.scss ***!
  \**************************************************************************************************************************/
.toc-affix {
  position: absolute;
  top: 8px;
  right: 20px;
  z-index: 99;
}
